################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Alex/AlexRepetition/.vs/AlexRepetition/FileContentIndex
